@mixin center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin modal-shadow{
  box-shadow: 0 0 18px rgba(27,31,35,0.4);
  -webkit-box-shadow: 0 0 18px rgba(27,31,35,0.4);
  -moz-box-shadow: 0 0 18px rgba(27,31,35,0.4);
}

@mixin overlay_defaults{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
}

@mixin inst{
  border: 1px solid $header_border;
  color: $dark;
  background: $ff;
  border-radius: 8px;
}

@mixin photo {
  border-radius: 6px;
  cursor: pointer;
  transition: all .2s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

}

@mixin header {
  padding: 8px;
  background: $header;
  border-bottom: 1px solid $header_border;

  & span {
    font-size: 14px;
    font-weight: 600;
  }

}

// Animation keyframes
@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
