// Header
.header{
  position: fixed;
  width: 100%;
  height: 54px;
  background: $ff;
  z-index: 2;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
  font-family: $family;

  & > .logo {
    position: absolute;
    float: left;
    left: 25px;
    top: 9px;

    & > a {
      outline: none;

      & > img{
        width: 36px;
        height: 36px;
        transition: transform 0.2s ease;
        
        &:hover {
          transform: scale(1.05);
        }
      }

    }

  }

  & .search_box{
    position: absolute;
    left: 85px;
    top: 9px;

    & > input[type="text"].search{
      background: rgba(0,0,0,0.04);
      padding: 9px 20px 9px 12px;
      border: none;
      width: 500px;
      font-size: 14px;
      font-family: $family;
      border-radius: 8px;
      transition: all 0.2s ease;

      &.search:focus{
        background: $ff;
        box-shadow: 0 0 0 2px rgba(40, 149, 241, 0.2);
      }

    }

    & > span.search_icon{
      left: -28px;
      top: -1px;
      position: relative;

      & > i{
        font-size: 14px;
        color: #11bbab;
      }

    }

  }

  & > .header_right{
    position: absolute;
    float: left;
    right: 10px;
    overflow: inherit;

    & > a{
      border: 1px solid $ff;
      padding: 7px 9px 7px 7px;
      border-radius: 52px;
      text-align: center;
      top: 2px;
      position: relative;
      outline: none;
      line-height: 3;
      transition: all 0.2s ease;

      &:hover{
        background: $second_border;
        transform: scale(1.02);
      }

      &:focus{
        background: $second_border;
      }

      & > img{
        width: 28px;
        height: 28px;
        position: relative;
        top: 7px;
        border-radius: 50%;
        margin-right: 3px;
      }

      & > span{
        color: $dark;
        font-size: 14px;
        font-weight: 500;
      }

    }

    // for active links
    .ha_active{
      background: $second_border;
    }

    & .notification{
      margin-right: 20px;
      border-radius: 6px !important;
      border: 1px solid $ee !important;
      padding: 6px 7px !important;

      &::before{
        content: "";
      }

      & > .notification_span{
        position: relative;
        display: inline-block;
        top: 6px;
        height: 23px;

        & > i{
          font-size: 23px;
        }

      }
    }

    & > .show_more{
      position: relative;
      border: 1px solid #fff;
      color: #66757f;
      padding: 5px 0px;
      top: 2px;
      border-radius: 6px;
      text-align: center;
      margin-left: 0px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover{
        color: #1b2733;
        background: $second_border;
      }

      & > i{
        position: relative;
        top: 8px;
      }

    }

  }

  & > .sp_options{
    position: fixed;
    right: 10px;
    top: 55px;

    &::before{
      content: "";
      background: $ff;
      width: 11px;
      height: 11px;
      top: -6px;
      position: absolute;
      border-top: 1px solid #DCDFE1;
      transform: rotate(45deg);
      border-left: 1px solid #DCDFE1;
      right: 9px;
      z-index: -1;
    }

    & a{
      width: 74px;
    }

  }

}
