.modal{
  @include center;
  position: fixed !important;
  @include modal-shadow;
  width: 300px;
  border-radius: 12px;
  z-index: 3;
  background: $ff;
  font-size: 14px;
  font-family: $family;

  & .modal_no{
    text-align: center;
    position: relative;
    top: 30px;
    & img{ width: 150px; }
  }

  & .modal_header{
    background: $header;
    border-bottom: 1px solid $header_border;
    padding: 14px 16px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: initial;

    & span.title{
      font-weight: 600;
      color: $dark;
      font-size: 16px;
      font-family: $family-heading;
    }

  }

  & .modal_middle{
    position: relative;
    padding: 16px;

    & input[type='text'],
    & textarea {
      width: 94%;
      padding: 10px 12px;
      font-size: 14px;
      font-family: $family;
      border-radius: 8px;
    }

    & textarea{
      height: 150px;
      resize: vertical;
    }

  }

  & .modal_bottom{
    display: block;
    text-align: right;
    padding: 12px 16px;
    border-top: 1px solid $ee;
    margin-top: 0px;

    & span.emoji_span {
      display: inline-block;
      height: 24px;
      position: absolute;
      left: 10px;
      bottom: 14px;
      color: $d_light;
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: $dark;
      }
    }

    & a, & input[type='submit']{
      display: inline-block;
      padding: 8px 16px;
      font-weight: 600;
      font-family: $family;
      border-radius: 6px;
      transition: all 0.2s ease;
    }

    & a:last-of-type {
      margin-left: 8px;
    }

  }

}

.modal_big{
  width: 400px;
  border-radius: 12px;

  & .modal_middle{
    height: 450px;
    width: inherit;
    overflow: auto;
    padding: 0px !important;

    & .modal_main{
      position: relative;
      padding: 7px 0px;

      & .modal_items{
        margin-bottom: 5px;
        position: relative;
        padding: 0px 5px 5px 5px;

        & .modal_it_img{
          position: relative;
          display: inline-block;
          height: 45px;
          margin-left: 5px;

          & img{
            width: 45px;
            height: 45px;
            border-radius: 8px;
          }

        }

        & .modal_it_content{
          display: inline-block;
          position: relative;
          width: 83%;
          margin-left: 8px;
          top: -10px;

          & .modal_it_info{
            display: inline-block;
            width: 100%;

            & .modal_it_username{
              font-size: 14px;
              color: $dark;
              font-weight: 600;
              font-family: $family;
              outline: none;
              transition: all 0.2s ease;

              &:hover,&:focus{text-decoration: underline;}

            }

            & span.modal_it_light{
              display: block;
              color: $d_light;
              font-size: 13px;
              font-family: $family;
            }

          }

          & .modal_ff{
            display: inline-block;
            position: absolute;
            right: 5px;
            top: 5px;
            text-align: right;

            & a{
              display: inline-block;
              padding: 6px 16px;
              font-weight: 600;
              font-family: $family;
              border-radius: 6px;
              transition: all 0.2s ease;
            }

          }

        }

        & hr{
          border-top-color: $ee;
          margin-top: 3px;
        }

      }

        & .already_shared{
        background: $fb !important;
        cursor: not-allowed !important;
      }

    }

  }

  & .modal_bottom{
    margin-top: 1px;
    padding: 12px 16px;

    & a:last-of-type{
      margin-right: 10px;
      margin-left: 5px;
    }

  }

  & .spinner {
    top: 175px !important;
    left: 200px !important;
  }

}
